@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Trang chủ";
}
@model Home
<style>
    .chart {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

        .chart th, .chart td {
            border: 1px solid #ddd;
            padding: 15px;
            text-align: left;
        }

        .chart th {
            background-color: #3498db;
            color: #fff;
        }

        .chart tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .chart tbody tr:hover {
            background-color: #e0e0e0;
        }

        .chart td a {
            color: #2980b9;
            text-decoration: none;
            font-weight: bold;
        }

            .chart td a:hover {
                color: #2c3e50;
                text-decoration: underline;
            }
</style>



<!-- Danh sách bài hát -->

<h2>#Songchart</h2>

    <table class="chart">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Bài hát</th>
                <th>Nghệ sĩ</th>
                <th>Thể loại</th>
                <th>Lượt nghe</th>
            </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.Playlists.Count; i++)
        {
            var item = Model.Songs[i];
            <tr>
                <td>@(i+1)</td>
                <td><a href="@Url.Action("Details", "Songs",new {id = @item.ID})">@item.Name</a></td>
                <td>@item.Artist.Name</td>
                <td>@item.Genre.Name</td>
                <td>@item.ViewCount</td>
            </tr>
        }
        </tbody>
    </table>




<!-- Danh sách playlist -->
@* <div class="title">
    <h4>Top playlist được nghe nhiều nhất</h4>
    <h5><a href="/Songs">Hiện tất cả></a></h5>
</div>
<div class="playlist-container">
    @for (int i = 0; i < Model.Playlists.Count; i++)
    {
        var item = Model.Playlists[i];

        <div class="playlist-div">
            <div>STT: @(i+1)</div>
            <div>View: @item.ViewCount</div>
            <div class="image-container">
                <img src="@item.Thumbnail" class="playlist-img" alt="" runat="server" />
            </div>
            <!-- name detail -->
            <div class="playlist-title">
                <div class="text-bold">
                    @item.Name
                </div>
                <div class="text-thin">
                    @item.Detail
                </div>
            </div>
        </div>
    }
</div> *@
<!-- Kết thúc playlist -->