@using System.Security.Claims;
@model IEnumerable<BTL_LWNC_WebAmNhac.Models.Playlist>

@{
    ViewData["Title"] = "Index";
    var userID = -1;
    if (User.Identity.IsAuthenticated)
    {
        var userClaims = User.Identity as ClaimsIdentity;
        userID = int.Parse(userClaims.FindFirst(ClaimTypes.NameIdentifier).Value);
    }
}

<h1>Thư viện</h1>

@if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("admin")))
{
    <table class="table table-sm">
        @foreach (var claim in User.Claims)
        {
            <tr>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
            </tr>
        }
    </table>

    <p>
        <a asp-controller="Playlists" asp-action="Create" asp-route-id="@userID">Create New Playlist</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Tên playlist
                </th>
                <th>
                    Mô tả
                </th>
                <th>
                    Ảnh bìa
                </th>
                <th>
                    Người đăng
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(p => p.User.ID == userID))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Thumbnail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-controller="PlaylistDetails" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (User.Identity.IsAuthenticated && (User.IsInRole("User") || User.IsInRole("user")))
{
    <p>
        <a asp-controller="Playlists" asp-action="Create" asp-route-id="@userID">Create New Playlist</a>
    </p>
    <div class="playlist-container">
        @foreach (var item in Model)
        {
            <div class="playlist-div">
                <div class="image-container">
                    <img src="@item.Thumbnail" class="playlist-img" alt="" runat="server" />
                </div>
                <!-- name detail -->
                <div class="playlist-title">
                    <div class="text-bold">
                        <a href="@Url.Action("Details", "PlaylistDetails",new { id=item.ID})">
                            @item.Name
                        </a>
                    </div>
                    <div class="text-thin">
                        @item.Detail
                    </div>
                </div>
            </div>
        }
    </div>
}

